<div class="modal" [class.is-active]="showModal">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">
      <h2 class="text-xl font-bold mb-4">Change Name</h2>
      <button class="modal-close" aria-label="close" (click)="closeModal()">
        &times;
      </button>
      <form (ngSubmit)="updateName()">
        <input
          class="input"
          type="text"
          [(ngModel)]="newName"
          name="newName"
          placeholder="Enter new name"
          required
        />
        <div class="flex justify-end gap-2">
          <button type="button" (click)="closeModal()" class="button cancel">
            Cancel
          </button>
          <button type="submit" class="button is-link">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
