# Environments
backend/.env
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node
node_modules/
dist/
.angular/
package-lock.json

# IDEs and editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Other
setup.bat
